.syncing{background:#f2f4f7;min-height:100vh;padding:4.5rem 0 0;width:100vw}.syncing-box{background:#fff;border-radius:6px;box-shadow:0 2px 4px rgba(0,0,0,.14),0 0 2px rgba(0,0,0,.12);margin:auto;padding:1.5rem;text-align:center;width:35rem}